{% extends 'layout.twig' %}


{% block head %}
    <title>Administrer les articles</title>
{% endblock %}

{% block aside %}
    <section class="content col-3">
        {{ messageConnection | raw }}
        <a href="index.php?page=seeMyProfile" class="btn btn-info">Voir mon profil</a>
    </section>
{% endblock %}

{% block content %}
    <section class="content col-9">
        <h1>Administration des articles</h1>
        <div class="articles">

            {% for article in articles %}
                <article class="article">
                    <h3 class="titleArticle"><a href="index.php?page=article&idArticle={{ article.idArticle }}">{{ article.titleArticle }}</a></h3>
                    <p class="subtitleArticle">{{ article.subtitleArticle | nl2br }}</p>
                    <p class="dateCreationArticle"><em>Publié le {{ article.dateArticle }} par {{ article.pseudoPerson }}</em></p>
                </article>

            {% endfor %}

            {{ messageArticles | raw }}

        </div>

        <div class="pagesManagement">
            <span class="previousPage"><a href="index.php?page=manageArticles&numPage={{ previousPage }}">{{ textPreviousPage }}</a></span>
            <span class="currentPage col-lg-12 col-md-12 col-sm-1 col-xs-1">{{ currentPage }}</span>
            <span class="nextPage"><a href="index.php?page=manageArticles&numPage={{ nextPage }}">{{ textNextPage }}</a></span>
        </div>
    </section>
{% endblock %}

{% block footer %}
    {% include 'footer.twig' %}
{% endblock %}