{% extends 'layout.twig' %}


{% block head %}
    <title>Valider des commentaires</title>
{% endblock %}

{% block aside %}
    <section class="content col-3">
        {{ messageConnection | raw }}
    </section>
{% endblock %}

{% block content %}
    <section class="content col-9">
        <h1>Commentaires en attente</h1>

        <p>Filtrer les commentaires :</p>
        <form method="post">
            <label>par statut</label>
            <select name="statute">
                <option disabled>statut</option>
                <option name="Tous">Tous</option>
                <option name="En attente">En attente</option>
                <option name="Validé">Validé</option>
                <option name="Refusé">Refusé</option>
            </select>
            <label>par auteur</label>
            <select name="author">
                <option disabled selected>auteur</option>
                {% for authorComment in authorsComments %}
                    <option name="{{ authorComment.authorComment }}">{{ authorComment.authorComment }}</option>
                {% endfor %}
            </select>
            <input type="submit" />
        </form>

        {% if not commentsToValidate %}

            <p>Il n'y a actuellement aucun commentaire à valider.</p>

        {% else %}

        <table class="tableCommentsAdministration" id="myTable">
            <tr>
                <th>Titre de l'article</th>
                <th>Commentaire</th>
                <th>Date du commentaire</th>
                <th>Auteur du commentaire</th>
                <th>Statut de validation</th>
                <th>Action</th>
            </tr>
                {% for commentToValidate in commentsToValidate %}
                    <tr>
                        <td>{{ commentToValidate.titleArticle }}</td>
                        <td>{{ commentToValidate.contentComment }}</td>
                        <td>{{ commentToValidate.dateComment }}</td>
                        <td>{{ commentToValidate.authorComment }}</td>
                        <td>{{ commentToValidate.validate }}</td>
                        <td>
                            <a href="index.php?page=manageComments&idCommentToValidate={{ commentToValidate.idComment }}">Valider</a>
                            <a href="index.php?page=manageComments&idCommentToRefuse={{ commentToValidate.idComment }}">Refuser</a>
                        </td>
                    </tr>

                {% endfor %}

        </table>

        {% endif %}

        {% block script %}
        <!-- TODO : use library datatables (https://www.datatables.net/)
        <script>
            $(document).ready( function () {
                $('#myTable').DataTable();
            } );
        </script>-->
        {% endblock %}

    </section>
{% endblock %}