{% extends 'layout.twig' %}


{% block head %}
    <title>Valider des commentaires</title>
{% endblock %}

{% block aside %}
    <section class="content col-3">
        {{ messageConnection | raw }}
        <a href="index.php?page=seeMyProfile" class="btn btn-info">Voir mon profil</a>
    </section>
{% endblock %}

{% block content %}
    <section class="content col-9">
        <h1>Commentaires en attente</h1>

        <p>Filtrer les commentaires :</p>
        <form method="post">
            <label>par statut</label>
            <select name="statute">
                <option disabled>statut</option>
                <option name="Tous">Tous</option>
                <option name="En attente">En attente</option>
                <option name="Validé">Validé</option>
                <option name="Refusé">Refusé</option>
            </select>
            <label>par auteur</label>
            <select name="author">
                <option disabled selected>auteur</option>
                {% for authorComment in authorsComments %}
                    <option name="{{ authorComment.authorComment }}">{{ authorComment.authorComment }}</option>
                {% endfor %}
            </select>
            <input type="submit" />
        </form>

        <br/>

        {% if not commentsToValidate %}

            <p>Il n'y a actuellement aucun commentaire à valider.</p>

        {% else %}

        <table class="table-bordered table-striped table-hover tableCommentsAdministration" id="tableComments">
            <thead>
            <tr>
                <th class="sorting">Titre de l'article</th>
                <th class="sorting">Commentaire</th>
                <th class="sorting">Date du commentaire</th>
                <th class="sorting">Auteur du commentaire</th>
                <th class="sorting">Statut de validation</th>
                <th class="sorting">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for commentToValidate in commentsToValidate %}
                <tr>
                    <td>{{ commentToValidate.titleArticle }}</td>
                    <td>{{ commentToValidate.contentComment }}</td>
                    <td>{{ commentToValidate.dateComment }}</td>
                    <td>{{ commentToValidate.authorComment }}</td>
                    <td>{{ commentToValidate.validate }}</td>
                    <td>
                        <a href="index.php?page=manageComments&idCommentToValidate={{ commentToValidate.idComment }}">Valider</a>
                        <a href="index.php?page=manageComments&idCommentToRefuse={{ commentToValidate.idComment }}">Refuser</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% endif %}

        {% block script %}
        <!-- Using library datatables (https://www.datatables.net/) -->
        <script>
            $(document).ready( function () {
                $('#tableComments').DataTable({
                    paging: false,
                    searching: false
                });
            } );
        </script>
        {% endblock %}

    </section>
{% endblock %}

{% block footer %}
    {% include 'footer.twig' %}
{% endblock %}