{% extends 'layout.twig' %}


{% block head %}
    <title>Blog</title>
{% endblock %}


{% block content %}

        <h1>Article</h1>

        <div class="articles">
            
            {% for article in articles %}

                <article class="idArticle">
                    <h3 class="titleArticle">{{ article.titleArticle }}</h3>
                    <p class="subtitleArticle"><strong>{{ article.subtitleArticle | nl2br }}</strong></p>
                    <p class="dateCreationArticle"><em>Publié le {{ article.dateCreationArticle }} par {{ article.pseudoPerson }}</em></p>
                    <p class="contentArticle">{{ article.contentArticle | nl2br }}</p>
                </article>
                
            {% endfor %}

            <p>{{ messageArticle }}</p>

        </div>

    {% include 'blogComments.twig' %}


{% endblock %}
