
<h3>Commentaires</h3>

<div class="comments">

    <p>{{ messageComment }}</p>

    {{ msgNewComment | raw }}

    {% for comment in comments %}

        <div class="comment">
            <p class="dateComment">{{ comment.authorComment }}<em> ({{ comment.dateComment }})</em></p>
            <p class="contentComment">{{ comment.contentComment | nl2br }}</p>
        </div>

    {% endfor %}

    <h5>Ajouter un commentaire</h5>

    <form method="post" class="contactForm">
        <div class="form-group">
            <label for="pseudo">Votre pseudo</label>
            <input type="text" name="pseudo" id="pseudo" placeholder="Votre pseudo" class="form-control"/>
            <br/>
            <label for="comment">Votre commentaire</label>
            <input type="text" name="comment" id="comment" placeholder="Votre commentaire" class="form-control"/>
            <br/>
            <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response"/>
        </div>
        <input type="submit" class="btn btn-primary">
    </form>

    <script>
        grecaptcha.ready(function() {
            grecaptcha.execute('6LfA2b4UAAAAAB4MXepKqzHifKtV5yq50udTfa4g', {action: 'homepage'})
                .then(function(token) {
                    document.getElementById('g-recaptcha-response').value=token;
                });
        });

    </script>

</div>

