{% extends 'layout.twig' %}


{% block head %}
    <title>Inscription</title>
{% endblock %}

{% block content %}
    <section class="content col-12">

        <h1>Formulaire d'inscription</h1>

        <div class="notification">
            {{ messageCreateMember | raw }}
        </div>

        <form class="contactForm" method="post" action="">
            <div class="form-group">
                <label for="surname">Nom</label>
                <input type="text" name="surname" id="surname" placeholder="{% if surname %}{% else %}Votre nom{% endif %}" value="{% if surname %}{{ surname }}{% else %}{% endif %}" class="form-control" required />
                <br/>
                <label for="firstname">Prénom</label>
                <input type="text" name="firstname" id="firstname" placeholder="{% if firstname %}{% else %}Votre prénom{% endif %}" value="{% if firstname %}{{ firstname }}{% else %}{% endif %}"class="form-control" required />
                <br/>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" aria-describedby="emailHelp" placeholder="{% if email %}{% else %}Votre adresse email{% endif %}" value="{% if email %}{{ email }}{% else %}{% endif %}"class="form-control" required/>
                <br/>
                <label for="pseudo">Pseudo</label>
                <input type="text" name="pseudo" id="pseudo" placeholder="{% if pseudo %}{% else %}Votre pseudo{% endif %}" value="{% if pseudo %}{{ pseudo }}{% else %}{% endif %}"class="form-control" required/>
                <br/>
                <label for="password">Mot de passe</label>
                <input type="password" name="password" id="password" placeholder="Votre mot de passe" class="form-control" required />
                <br/>
                <label for="passwordConf">Confirmation de mot de passe</label>
                <input type="password" name="passwordConf" id="passwordConf" placeholder="Confirmation de votre mot de passe" class="form-control" required />
                <br/>
            </div>
            <input type="submit" class="btn btn-primary" value="Envoyer" />
        </form>

    </section>

{% endblock %}

{% block footer %}
    {% include 'footer.twig' %}
{% endblock %}
